* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #313D52;
}

.navegacion {
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.menu {
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover{
    color:rgb(4, 0, 241);
    transition: all .3s;
}




header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }
  
nav ul {
    display: flex;
    justify-content: space-around;
  }

@media screen and (max-width:600px) {
    header, nav ul {
      flex-direction: column;
      text-align: left;
    }
  }
