#insti:hover{
color: blue;
font-size: 200%;
}

#insti {
background-color: red;
border: 2px solid red;
border-radius:15px 0px 15px 0px;
}

section {
outline-style: double;
background-color:#fffde7;
color: orange;
width: 300px;
border: 25px solid green;
padding: 25px;
margin: 25px;
}
