#serif {font-family: Roman, serif;
}
#sans {font-family: Arial, sans-serif;
}
#mono {font-family: Andale Mono, monospace;
}
#cursive {font-family: URW chancery L, cursive;
}
#fantasy {font-family: Marker Felt, fantasy;
}
